include ../mixin/mixin

block vars
    -data_page = []

doctype html
html(lang='en')
  

 


    head
        title Apple

    body
        block header

        block content

        block footer

script(src="/assets/js/stype.js") 










    
    