

nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#').glyphicon.glyphicon-apple
      
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Store
        li
           a(href='#') Mac
        li
          a(href='#') iPad
        li
          a(href='#') iPhone
        li
          a(href='#') Watch
        li
          a(href='#') AirPods
        li
          a(href='#') Tv &amp; Home
        li
          a(href='#') Only on Apple
        li
          a(href='#') Accsessories
        li
          a(href='#') Support
        li
            .box
              input(type='text' placeholder='Search apple.com')
              a.glyphicon.glyphicon-search
        li
          a(href='#').glyphicon.glyphicon-briefcase
        

     

       
     

.unit-copy-wrapper
  h1.headline
    | iPhone 14
    h2.subhead(role='presentation')
      | Big and bigger.
      .cta-links
        a.icon.icon-after.icon-chevronright(href='#' target='_self' rel='follow' data-analytics-region='learn more' data-analytics-title='Learn more about iPhone 14' aria-label='Learn more about iPhone 14') Learn more&gt;
        a.icon.icon-after.icon-chevronright(href='#' target='_self' rel='follow' data-analytics-region='buy' data-analytics-title='Buy iPhone 14' aria-label='Buy iPhone 14') Buy&gt;
.unit-image-wrapper
  figure.unit-image.unit-image-iphone-14-hero-iphone14
    img(src='/assets/images/iphone_14.jpg' alt='')
div(data-unit-id='holiday-2022' data-analytics-section-engagement='name:hero-holiday-2022')
  .module-content
    .unit-wrapper.theme-dark
      a.unit-link(href='' target='_self' data-analytics-region='shop' aria-hidden='true' tabindex='-1') &nbsp;
      .unit-copy-wrapper
        h2.headline It&rsquo;s wow or never.
        h3.subhead.last-chance(role='presentation') Discover last-minute gifts that will make a lasting impression.
        .cta-links
          a.icon.icon-after.icon-chevronright(href='' target='_self' data-analytics-region='shop' data-analytics-title='Shop the Holiday Gift Guide') Shop the Holiday Gift Guide
      .unit-image-wrapper
        .inline-video.video-container
          .inline-video-media.loaded.video-ended.ended
            figure.inline-video-frame-start.start-frame.memoji-3.hide
            figure.inline-video-frame-end.end-frame.memoji-3.show
div(data-unit-id='apple-card-december' data-analytics-section-engagement='name:hero-apple-card-december')
  .module-content1
    .unit-wrapper.theme-dark
      a.unit-link(href='' target='_self' rel='follow' data-analytics-region='learn more' aria-hidden='true' tabindex='-1') &nbsp;
      .unit-copy-wrapper
        h2.logo-image.logo-image-apple-card-december-card-logo.headline
          span.visuallyhidden Apple Card
        h3.subhead(role='presentation') Save 5% on Apple products with a new Apple Card through December 25
        h6.avail.avail-apple-card-december(role='presentation')
          | Only at Apple. Exclusions and terms apply
          sup.footnote
            a.footnote(href='#footnote-1' aria-label='Footnote 1') 1
        .cta-links
          a.icon.icon-after.icon-chevronright(href='#' target='_self' rel='follow' data-analytics-region='learn more' data-analytics-title='Learn more about Apple Card' aria-label='Learn more about Apple Card') Learn more
          a.icon.icon-after.icon-chevronright(data-analytics-exit-link='' data-rid-relay='{"287":"referrer"}' href='#' target='_self' rel='follow' data-analytics-region='learn more' data-analytics-title='Apply now for Apple Card' aria-label='Apply now for Apple Card') Apply now
      .unit-image-wrapper
        figure.unit-image.unit-image-apple-card-december-hero
.container
  #products.row.list-group
    .item.col-xs-6
      .thumbnail
        h2 iPhone 14 Pro
        p Pro. Beyond.
        a(href='') Learn more Buy
        img.group.list-group-image(src='https://ruby.vn/wp-content/uploads/2020/10/dien-thoai-thong-minh-Apple-iPhone-12-Pro-va-12-Pro-Max-5G.jpg.webp' alt='Sản phẩm 1' width='300' height='300')
    .item.col-lg-6
      .thumbnail
        h2 Apple Watch Series 8
        p A healthy leap ahead.
        a(href='') Learn more Buy
        img.group.list-group-image(src='https://ruby.vn/wp-content/uploads/2020/10/dong-ho-thong-minh-Apple-Watch-SE-Entry-Level.jpg.webp' alt='Sản phẩm 2' width='300' height='300')
    .item.col-lg-6
      .thumbnail
        h2 Apple Watch Ultra
        p Adventure awaits.
        a(href='') Learn more Buy
        img.group.list-group-image(src='https://ruby.vn/wp-content/uploads/2020/09/Apple-Watch-Series-6.jpg.webp' alt='Sản phẩm 3' width='300' height='300')
    .item.col-lg-6
      .thumbnail
        h2 HomePod mini
        p HomePod mini
        a(href='') Learn more Buy
        img.group.list-group-image(src='https://ruby.vn/wp-content/uploads/2020/10/loa-thong-minh-Apple-HomePod-mini.jpg.webp' alt='Sản phẩm 4' width='300' height='300')
    .item.col-xs-6
      .thumbnail
        h2 Ipad
        p Lovable. Drawable. Magical
        a(href='') Learn more Buy
        img.group.list-group-image(src='https://ruby.vn/wp-content/uploads/2020/10/may-tinh-bang-sang-tao-Apple-iPad-the-he-8.jpg.webp' alt='Sản phẩm 5' width='300' height='300')
    .item.col-xs-6
      .thumbnail
        h2 Air pot
        p Share the joy.
        a(href='') Shop
        img.group.list-group-image(src='https://ruby.vn/wp-content/uploads/2020/10/san-pham-cong-nghe-khong-the-bo-qua-nam-2020.jpg.webp' alt='Sản phẩm 6' width='300' height='300')
.image-container
  .slide
    .slideNumber 1
    img(src='/assets/images/slide1.jpg')
  .slide
    .slideNumber 2
    img(src='/assets/images/slide2.jpg')
  .slide
    .slideNumber 3
    img(src='/assets/images/slide3.jpg')
  .slide
    .slideNumber 4
    img(src='/assets/images/slide4.jpg')
  .slide
    .slideNumber 5
    img(src='/assets/images/slide5.jpg')
  a.previous(onclick='moveSlides(-1)')
    i.fa.fa-chevron-circle-left
  a.next(onclick='moveSlides(1)')
    i.fa.fa-chevron-circle-right
br
div(style='text-align:center')
  span.footerdot(onclick='activeSlide(1)')
  span.footerdot(onclick='activeSlide(2)')
  span.footerdot(onclick='activeSlide(3)')
  span.footerdot(onclick='activeSlide(4)')
  span.footerdot(onclick='activeSlide(5)')
