.glyphicon.glyphicon-briefcase{
	margin-top: 10px;
}
.dropdown{
	background: $background-color_10;
}

nav.navbar.navbar-inverse {
  
    padding-left: 120px;
	// width: 100%;
	// position: fixed;  
	// top: 0;  
}