footer
  hr
  .end
    p
      | 1. The following purchases with Apple Card are ineligible to earn 5% back: monthly financing through Apple Card Monthly Installments, Apple iPhone Payments, the iPhone Upgrade Program, and wireless carrier financing plans; Apple Media Services; AppleCare+ monthly payments. Subject to credit approval. Valid only on qualifying purchases in U.S. for new Apple Card customers who open an account and use it from 12/1/22 to 12/25/22 at Apple Store locations, apple.com, the Apple Store app, or by calling 1-800-MY-APPLE. Accounts opened before 12/1/22 or after 12/25/22 do not qualify. New Apple Card users added to an Apple Card Family account opened during offer period can earn 5% back on their own purchases. For Apple Card Family co-owners and participants, bonus Daily Cash will be disbursed within 7 days of your qualifying purchase. Not valid for existing Apple Card users who merge their Apple Card accounts to become Co-Owners. 5% is total amount of Daily Cash that can be earned for qualifying Apple purchases using Apple Card. Returning qualified items that were purchased during offer period may impact your cash back. 5% savings is earned as Daily Cash and transferred to your Apple Cash card when transactions post to your Apple Card account. If you do not have an Apple Cash card, Daily Cash can be applied by you as a credit on your statement balance. See the Apple Card Customer Agreement for more details on Daily Cash and qualifying transactions. Changes to your account status during offer period may delay the fulfillment of your Daily Cash bonus.
      | To access and use all the features of Apple Card, you must add Apple Card to Wallet on an iPhone or iPad with the latest version of iOS or iPadOS. Update to the latest version by going to Settings &gt; General &gt; Software Update. Tap Download and Install.
      | Learn more about how Apple Card applications are evaluated at support.apple.com/kb/HT209218.
      | Available for qualifying applicants in the United States.
      | Apple Card is issued by Goldman Sachs Bank USA, Salt Lake City Branch.
  hr
  .row
    .cot.col-sm-2
      | Shop and Learn
      br
      a(href='') Store
      br
      a(href='') Mac
      br
      a(href='') iPad
      br
      a(href='') iPhone
      br
      a(href='') Watch
      br
      a(href='') AirPods
      br
      a(href='') TV &amp; Home
      br
      a(href='') AirTag
      br
      a(href='') Gift Cards
    .cot2.col-sm-2
      | Store
      br
      |                 Mac
      br
      |                 iPad
      br
      |                 iPhone
      br
      |                 Watch
      br
      |                 AirPods
      br
      |                 TV &amp; Home
      br
      |                 AirTag
      br
      |                 Accessories
      br
      |                 Gift Cards
      br
      |                 Services
      br
      |                 Apple Music
      br
      |                 Apple TV+
      br
      |                 Apple Fitness+
      br
      |                 Apple News+
      br
      |                 Apple Arcade
      br
      |                 iCloud
      br
      |                 Apple One
      br
      |                 Apple Card
      br
      |                 Apple Books
      br
      |                 Apple Podcasts
      br
      |                 App Store
      br
    .col-sm-2
      | Apple Store
      br
      |                 Find a Store
      br
      |                 Genius Bar
      br
      |                 Today at Applebr
      br
      |                 Apple Camp
      br
      |                 Apple Store App
      br
      |                 Refurbished and Clearance
      br
      |                 Financing
      br
      |                 Apple Trade In
      br
      |                 Order Status
      br
      |                 Shopping Help
    .col-sm-2
      | For Business
      br
      |                 Apple and Business
      br
      |                 Shop for Business
      br
      br
      |                 For Education
      br
      |                 Apple and Education
      br
      |                 Shop for K-12
      br
      |                 Shop for College
      br
      br
      |                 For Healthcare
      br
      |                 Apple in Healthcare
      br
      |                 Health on Apple Watch
      br
      |                 Health Records on iPhone
    .col-sm-2
      | Apple Values
      br
      |                 Accessibility
      br
      |                 Education
      br
      |                 Environment
      br
      |                 Inclusion and Diversity
      br
      |                 Privacy
      br
      |                 Racial Equity and Justice
      br
      |                 Supplier Responsibility
      br
      br
      |                 About Apple
      br
      |                 Newsroom
      br
      |                 Apple Leadership
      br
      |                 Career Opportunities
      br
    br
    br
    .end0
      .end2
        p
          | More ways to shop: 
          a(href='') Find an Apple Store
          |   or other retailer near you. Or call 1-800-MY-APPLE.ư
   
      hr
      .end1
        ul
          li
            a(href='#')  Copyright &copy; 2022 Apple Inc. All rights reserved.
          li
            a(href='') Privacy Policy
          li
            a(href='') Terms of Use
          li
            a(href='') Sales and Refunds
          li
            a(href='') Legal
          li
            a(href='') Site Map
          li(style='float: right; margin-right: 10px;')
            a(href='') United States
